/* TAG STYLES */

/* LAYOUT */

pre {
  -moz-border-radius: 10px; border: 1px solid #ccc; padding: 10px 10px; color: yellow; background: #ff3600;
  font-family: courier, monospace; font-size: 13px; font-weight: bold;
}


/* COLOR */

a {
  color: #ff3600;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #555;
  font-size: 14px;
}

h1,h2 {
  color: #ff3600;
}

li p {
  margin: 0; padding: 0;
}

/* CLASS STYLES */

.page { margin: 0 auto; width: 700px; }

.content { padding: 0; }

.heading { font-size: 2em; }

.heading .title { font-size: 1.3em; font-weight: bold; color: #ff4455; }
.heading .title:hover { color: #2454ad; }

.heading .date  { font-size: 0.7em; }

/* ID STYLES */


/* --------- LAYOUT ----------- */

/* menu */

#menu {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

/* header */

#header {
  height: 240px;
  position: relative;
  border-top: 2px solid yellow;
  border-bottom: 2px solid yellow;
}

#header .title {
  padding-top: 10px;
  text-align: left;
}

/* footer */

#footer {
  padding: 20px 0 40px 0;
  font-size: 8px;
  font-weight: bold; 
  background: #ff3600;
  color: white;
  border-top: 1px solid yellow;
}


/* --------- FONT ----------- */

#header .title {
  font-size: 150px; text-align: left; font-weight: bold;
  line-height: 200px; letter-spacing: 10px; 
}

#menu { font-size: 15px; font-weight: bold; font-variant: small-caps; }


/* --------- COLOR ----------- */

#header {
  color: white;
  background: #ff3600;
}

#menu { background: white; /* url(./images/bg.jpg) center repeat-x; } */
#menu a { color: orange; }
#menu a:hover { color: blue; }

#main {
  background: white;
  color #ff3600;
}

