/* TAG STYLES */

/* LAYOUT */

pre {
  -moz-border-radius: 10px; border: 1px solid #ccc; padding: 10px 10px; color: #ff3600; background: #eeeeee;
  font-family: courier, monospace; font-size: 13px; font-weight: bold;
}


/* COLOR */

a { color: #ff3600; }

a:hover {
  text-decoration: underline;
}

p {
  color: #555;
  font-size: 14px;
}

h1,h2 {
  color: #ff3600;
}

li p {
  margin: 0; padding: 0;
}

/* CLASS STYLES */

.blurb { 
  float: left; width: 280px; height: 235px; font-size: 1.4em;
  border: 1px solid #ccc; padding: 10px; margin: 20px 0; 
       box-shadow: 3px 3px 5px #ccc;
  -moz-box-shadow: 3px 3px 5px #ccc;
}
.left { margin-right: 20px; }

.page { margin: 0 auto; width: 650px; }

.page-wide { margin: 0 auto; width: 740px; text-align: center; }

.content { padding: 0 10px; }

.content ul {
  font-size: 2em;
  color: orange;
}

.content p {
  font-size: 2em;
  color: #555;
  text-align: justify;
}

.heading { font-size: 2em; }

.heading .title { font-size: 1.3em; font-weight: bold; color: #ff4455; }
.heading .title:hover { color: #2454ad; }

.heading .date  { font-size: 0.7em; }

/* ID STYLES */


/* --------- LAYOUT ----------- */

/* menu */

#menu {
  width: 100%;
  padding: 2em 0 0 0;
  text-align: center;
}

#menu .page {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 6px;
}

/* header */

#header {
  height: 180px;
  position: relative;
  border-top: 0px solid yellow;
  border-bottom: 0px solid yellow;
  color: #ff3600;
  /* background: #ff3600; */
  background: #ffffff;
  padding: 0;
  padding-top: 20px;
  text-shadow: 2px 2px 5px #555;
}

#header .title {
  font-family: sans-serif;
  padding-top: 10px;
  text-align: left;
}

/* footer */

#footer {
  margin-top: 100px;
  padding: 20px 0 40px 0;
  font-size: 0.8em;
  font-weight: bold; 
  background: #fff;
  color: #555;
  border-top: 0px solid yellow;
}


/* --------- FONT ----------- */

#header .title {
  font-size: 120px; text-align: left; font-weight: bold;
  line-height: 180px; letter-spacing: 10px; 
  color: #eee;
}

#menu { font-size: 15px; font-weight: bold; font-variant: small-caps; }


/* --------- COLOR ----------- */

#menu { background: white; /* url(./images/bg.jpg) center repeat-x; } */
#menu a { color: orange; }
#menu a:hover { color: blue; }

#main {
  background: white;
  color #ff3600;
}

